<h1>{{ .Site.Params.author }}</h1>
{{ if reflect.IsSlice .Site.Params.info }}
<h2>{{ range .Site.Params.info }}{{ . | markdownify }}<br>{{ end}}</h2>
{{ else }}
<!-- <h2>{{ .Site.Params.info | markdownify }} </h2> -->
<h2 id="subtxt"></h2>
{{ end }}

<script src="https://unpkg.com/typeit@8.7.0/dist/index.umd.js"></script>
<script>
    new TypeIt("#subtxt", { 
    lifeLike: false, 
    // speed: 100,
})
.type("thoughts, st", { delay: 500 })
.move(-11, { delay: 50 }).delete(1)
.type("T", { delay: 500 })
.move(null, { to: "END", instant: true, delay: 600 })
// .delete(1)
.type("ories, anf ", { delay: 500 })
.move(-1, { delay: 20 }).delete(1)
.type("d ideas. ", { delay: 500 })
.pause(200)
.type("╰(▔▽▔)╯", { delay: 500 })
.go();

// ╰(▔▽▔)╯
</script>